@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://fonts.cdnfonts.com/css/ds-digital?styles=17998,17999');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DS-DIGIB';
  src: url('/fonts/DS-DIGIB.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}




.h2 {
  @apply capitalize font-poppins font-medium  md:text-[1rem] lg:text-[1rem] text-[1rem]   xl:text-[1rem] 2xl:text-[6rem];
}

.h2-1 {
 @apply uppercase font-poppins font-medium  md:text-[1rem] lg:text-[1rem] text-[1rem]   xl:text-[1rem] 2xl:text-[6rem];
}

.btn {
  @apply px-4 py-2 rounded font-semibold cursor-pointer ;
}

.box-1 {
  @apply flex items-center justify-between p-3 w-full rounded-xl;
}
.box-2 {
  @apply flex items-center justify-between w-1/2 rounded-xl flex-col gap-[1rem];
}

.input {
  @apply p-3 rounded-xl capitalize text-black text-center;
}

.box-1:nth-child(odd),.box-2:nth-child(odd) {
  @apply bg-gray-900; 
}

.box-1:nth-child(even),.box-2:nth-child(even) {
  @apply bg-gray-800; 
}

.input {
  @apply p-3 rounded-xl capitalize text-black text-center;
}






